[Unit]
Description=Apache ZooKeeper
After=network.target
ConditionPathExists=/etc/zookeeper/conf/zoo.cfg
ConditionPathExists=/etc/zookeeper/conf/log4j.properties

[Service]
Environment="ZOOCFGDIR=/etc/zookeeper/conf"
SyslogIdentifier=zookeeper
User=<%= @username %>
Group=<%= @username %>
WorkingDirectory=/usr/lib/zookeeper
ExecStart=/usr/bin/zookeeper-server start-foreground
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
